.Sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 auto;
  height: var(--sidebar-height);
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  left: 0;
  top: 0;
  z-index: var(--sidebar-z);
  transition: width 0.3s;
}

.ToogleSwitch {
  margin: 10px 12.5px;
}

.bugButton {
  white-space: nowrap;
  margin: 0 auto;
}

.collapsed {
  width: var(--collapsed-sidebar);
  top: 0;
  display: flex;
  flex-direction: column;

  .bugButton {
    visibility: hidden;
    white-space: nowrap;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeAppear {
  animation: fade-in 0.3s ease-in-out forwards;
}
