.app_dark_theme {
  --bg-color: #262626;
  --inverted-bg-color: #fafafa;
  --primary-color: #fafafa;
  --secondary-color: #d9d9d9;
  --inverted-primary-color: #262626;
  --inverted-secondary-color: #595959;
}
