@mixin paddings {
  padding: 2px;
}

.primary-Background {
  @include paddings;

  background-color: var(--primary-color);
}

.primary-inverted-Background {
  @include paddings;

  background-color: var(--inverted-primary-color);
}

.red-Background {
  @include paddings;

  background-color: red;
}
